<div class="mt-2 mb-2" >
    <div class="row">
        <div class="col">
            <app-botton (enviarAction)="getQuote()" [type]="'button'" [nameButton]="'Add'" [kindClass]="'btn btn-outline-success'"></app-botton>
        </div>
        <div class="col">
           <app-botton (enviarAction)="deleteAllQuotes()" [type]="'button'" [nameButton]="'Delete All'" [kindClass]="'btn btn-outline-danger'"></app-botton>
        </div>
    </div>
</div>

<h5 *ngIf="!quotesArray.length">No hay frases</h5>

<app-card [quotesArray]="quotesArray" (enviarAction)="deleteQuote($event)" ></app-card>

