<div class="mt-2 mb-2" style="width: 18rem;">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-outline-success" (click)="getQuote()">Add</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-outline-danger">Delete All</button>
        </div>
    </div>

</div>

<div class="card" style="width: 18rem; margin-top: 10px;" *ngFor="let quoteArray of quotesArray" >
  <div class="card-body">
    <h5 class="card-title">{{ quoteArray.character }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ quoteArray.anime }} </h6>
    <hr>
    <p class="card-text">{{ quoteArray.quote }}</p>
    <button type="button" class="btn btn-danger" (click)="deleteQuotes()">Delete</button>
  </div>
</div>

